* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #3c94e7;
    padding: 20px;
    color: antiquewhite;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1, h2 {
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #4c7aaf;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4588a0;
}

#contact-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#contact-table th, 
#contact-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

#contact-table th {
    background-color: #4c86af;
    color: white;
}

#contact-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#todo-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#task-list {
    list-style-type: none;
}

#task-list li {
    background: rgb(255, 255, 255);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#task-list button {
    background-color: #3c94e7;
}

#task-list button:hover {
    background-color: #c02b7d;
}
